<div class="ui grid">
<div class="sixteen wide column"><h2><center>My Course Listing</center></2></div>
<% @my_courses.each do |course|%>
	<%= render 'courses/course', course: course%>
<% end %>
</div>