<div class="ui grid">
	<div class="sixteen wide column">
			<center>
				
			<p><h2>Current available courses Listing</h2></p>
				
			<%= link_to "Add a Course", new_course_path%>
				
			</center>
	</div>
	  	<%= render @courses%>
 </div>